---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<div class="bg-[#f5f3ee] dark:bg-gray-800 transition-colors duration-300 py-8 -mx-6 lg:-mx-12 px-6 lg:px-12">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      posts.map((post) => (
        <div class="mb-12 md:mb-20">
          <Item post={post} />
        </div>
      ))
    }
  </div>
</div>
