---
import { getPermalink } from '~/utils/permalinks';

import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';

export interface Props {
  tags: Post['tags'];
  class?: string;
  title?: string | undefined;
  isCategory?: boolean;
}

const { tags, class: className = 'text-sm', title = undefined, isCategory = false } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <>
      {title !== undefined && (
        <span class="align-super font-normal underline underline-offset-4 decoration-2 text-gray-500 dark:text-gray-400 transition-colors duration-300">
          {title}
        </span>
      )}
      <ul class={className}>
        {tags.map((tag) => (
          <li class="bg-blue-900 dark:bg-blue-600 text-white inline-block mr-2 rtl:mr-0 rtl:ml-2 mb-2 py-1 px-3 text-xs tracking-wider font-medium transition-colors duration-300 hover:bg-blue-700 dark:hover:bg-blue-500">
            {!APP_BLOG?.tag?.isEnabled ? (
              tag.title
            ) : (
              <a
                href={getPermalink(tag.slug, isCategory ? 'category' : 'tag')}
                class="text-white hover:text-gray-200 transition-colors duration-300"
              >
                {tag.title}
              </a>
            )}
          </li>
        ))}
      </ul>
    </>
  )
}
